<form class="hero-form" [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="form-group">
  <label for="name">Name:</label>
  <input id="name" type="text" formControlName="name" />
  @if (form.get('name')?.touched && form.get('name')?.errors) {
    @if (form.get('name')?.errors?.['required']) {
      <div class="error">Name is required.</div>
    }
    @if (form.get('name')?.errors?.['maxlength']) {
      <div class="error">Name cannot exceed 8 characters.</div>
    }
  }
  </div>

  <div class="form-group">
    <label for="power">Power:</label>
    <input id="power" type="text" formControlName="power" />
      @if (form.get('power')?.touched && form.get('power')?.errors) {
        @if (form.get('power')?.errors?.['required']) {
          <div class="error">Power is required.</div>
        }
        @if (form.get('power')?.errors?.['maxlength']) {
          <div class="error">Power cannot exceed 9 characters.</div>
        }
      }
    </div>

  <div class="form-group">
    <label for="imageUrl">Image URL:
      <span class="tooltip-icon" tabindex="0">ℹ️
      <span class="tooltip-text">
        Pegá una URL que termine en .jpg, .png, .gif o webp.<br>
      </span>
    </span>
    </label>
      <input id="imageUrl" type="text" formControlName="imageUrl" />
      @if (form.get('imageUrl')?.touched && form.get('imageUrl')?.errors?.['invalidImageUrl']) {
        <div class="error">Please enter a valid image URL (.jpg, .jpeg, .png, .gif or .webp).</div>
      }
    </div>

  <div class="preview">
    <p>Image preview:</p>
    <img
      ngSrc="{{ previewImage }}"
      width="200"
      height="200"
      alt="Hero Image Preview"
      class="preview-image"
    />
  </div>

  <button class="btn-save" type="submit" [disabled]="form.invalid"> Save Hero</button>
</form>
