<article class="card">

  @if (heroImage()) {
    <img
      [ngSrc]="heroImage()"
      width="300"
      height="300"
      [alt]="hero().name"
      class="card-image"
      (error)="onImageError($event)" />
  }

  <div class="card-content">
    <h3>{{ hero().name | uppercase }}</h3>
    <p>{{ hero().power | titlecase}}</p>

    @if (useDefaultImage) {
      <small>{{ 'using default image' | titlecase }}</small>
    }

    <div class="actions">
      <button
        (click)="edit.emit(hero().id)"
        [attr.aria-label]="'Edit ' + hero().name">
        {{ 'edit' | titlecase }}
      </button>

      <button
        (click)="remove.emit(hero().id)"
        [attr.aria-label]="'Delete ' + hero().name">
        {{ 'delete' | titlecase }}
      </button>
    </div>
  </div>

</article>
