<article class="card">

@if (heroImage()) {
  <img
    ngSrc="{{ heroImage() }}"
    width="300"
    height="300"
    [alt]="hero().name"
    class="card-image"
    (error)="onImageError($event)" />
}


  <div class="card-content">
    <h3>{{ hero().name }}</h3>
    <p>{{ hero().power }}</p>

    @if (useDefaultImage) {
      <small>Using default image</small>
    }

    <div class="actions">
      <button (click)="edit.emit(hero().id)" [attr.aria-label]="'Edit ' + hero().name" >Edit</button>
      <button (click)="remove.emit(hero().id)" [attr.aria-label]="'Delete ' + hero().name">Delete</button>
    </div>
  </div>
</article>
