<h2>Superhero List</h2>

<div class="actions">
  <button class="btn-primary" (click)="router.navigate(['/list/new'])">
    ➕ Add New Hero
  </button>

  <input
    class="input-search"
    type="text"
    placeholder="Search heroes..."
    (input)="searchTerm.set($any($event.target).value)" />
</div>


@defer {
  @if (paginatedHeroes().length > 0) {
    <div class="card-grid">
      @for (hero of paginatedHeroes(); track hero.id) {
        <app-hero-card
          [hero]="hero"
          [defaultImage]="defaultImage"
          (edit)="onEdit($event)"
          (remove)="onRemove($event)" />
      }
    </div>

    <div class="pagination">
      <button (click)="prevPage()" [disabled]="currentPage() === 1">⬅ Prev</button>
      <span>Page {{ currentPage() }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage() === totalPages">Next ➡</button>
    </div>
  } @else {
    <p>No heroes found.</p>
  }
}
